@import "tailwindcss";

@theme {
  --color-dark-red: #280907;
  --color-brown: #57473A;
  --color-green: #6E8658;
  --color-blue: #73A1B2;
  --color-light: #D0D5CE;
  --color-cream: #EFE9E1;

  --font-sans: "Montserrat", sans-serif;
}

@layer {
  .tab-trigger.active::after {
    content: "";
    @apply absolute left-1/2 bottom-0 h-[1px] bg-cream -translate-x-1/2;
    width: 70%;
    /* Здесь регулируйте ширину линии: меньше или больше */
  }
  .tab-trigger.active {
    @apply relative
  }
  button{
    @apply cursor-pointer
  }
}